div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

div#title-bar {
  text-align: center;
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}